---
// Import des articles de blog
const titre = "Poetry done wrong - legal mentions";
const description = "The Poetry done wrong website - legal mentions";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>{titre}</title>
    <meta name="description" content={description} />
    <link rel="stylesheet" href="/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <main class="legal">
      <section>
        <h2>Legal Mentions</h2>
      <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="http://the-weary-leaf.netlify.app">The Weary Leaf</a> by <span property="cc:attributionName">NK</span> is marked with <a href="http://creativecommons.org/publicdomain/zero/1.0?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC0 1.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1"></a></p>
        <h3>Site Publication</h3>
        <p>This site is published by NK.</p>
        <h3>Contact</h3>
        <p>Email: contact.enka@proton.me</p>

        <h3>Content License</h3>
        <p>All poems on The Weary Leaf by NK are marked with CC0 1.0. They are in the public domain and can be freely shared and used.</p>

        <h3>Disclaimer</h3>
        <p>The content on this website is purely artistic and for poetic enjoyment. It should not be interpreted otherwise. This website is intended for artistic expression and is not to be taken as professional advice or representation of facts.</p>

        <h3>Intellectual Property</h3>
        <p>
          While the poetry on this site is freely shareable under the CC0 1.0 license, anyone who chooses to share or use the content does so at their own discretion and assumes all responsibility for its use. The site and its publisher, NK, are not liable for any interpretation,
          use, or consequences of using the content.
        </p>

        <h3>Hosting and Data Management</h3>
        <p>
          This site is hosted by <a href="https://www.netlify.com/">Netlify</a>. By using this site, you agree to Netlify's <a href="https://www.netlify.com/privacy/">terms of service</a>, which cover certain aspects of data management and site operation. Please refer to
          Netlify's terms for more details.
        </p>
        <p>
          <a href="/">Home</a>
        </p>
      </section>
    </main>
  </body>
</html>
